.part {
    display: block;
    margin: 0rem 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
}

.part .icon {
    width: 25%;
    border-radius: 50%;
}

.part p {
    margin: 0;
}

.part h1 {
    margin: 1rem 0rem;
}

.material-symbols-outlined {
    font-size: 3rem;
    position: absolute;
    top: 30%;
    right: 0.5rem;
    left: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 480px) {
    .part {
        margin: 0rem 1rem;
        padding-top: 1.5rem 0rem;
    }
    .material-symbols-outlined {
        font-size: 2rem;
        top: 27%;
        right: 0.5rem;
        left: 0.5rem;
    }
}
