.part {
    margin: 5%;
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.6);
}

.part .icon {
    width: 20%;
    border-radius: 50%;
}

.part p {
    margin: 0;
}

@media screen and (max-width: 480px) {
    .part {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}
