.page {
    margin: 0;
    padding: 1rem 30% 0% 30%;
}

@media screen and (max-width: 480px) {
    .page {
        margin: 0;
        padding: 0;
        padding-top: 1rem;

        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }
}
